body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label{
    padding: 20px;
    background: #e2e2e2;
    font-weight: bold;
}
.mytabs .tab{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2{
    font-size: 2rem;
}
.mytabs input[type='radio']:checked + label + .tab{
    display: block;
}
.mytabs input[type='radio']:checked + label{
    background-color: #fff;
}